:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}


/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  background: #F4F2F2;
  min-height: 100vh;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

button[disabled] {
  cursor: not-allowed;
  background-color: darkgray;
  color: #000;
}

button[disabled]:hover {
  cursor: not-allowed;
  background-color: darkgray;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.error {
  color: var(--Labels-Primary, red);
  font-size: 0.645rem;
  font-weight: 500;
}


.links,
.link {
  text-decoration: none;
  color: inherit;
}

.cursor {
  cursor: pointer;
}


/* Typography */

.subtitle1 {
  font-size: 0.75rem;
  font-weight: 600;
}

.subtitle2 {
  font-size: 1rem;
  font-weight: 600;
}

.subtitle3 {
  font-size: 0.8125rem;
  font-weight: 500;
}

.text1 {
  font-size: 0.625rem;
  font-weight: 400;
}

.text2 {
  font-size: 0.5625rem;
  font-weight: 500;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

/* .height {
  height: 100vh;
  overflow: scroll;
  padding-bottom: 15rem;
} */

body {
  margin: 0 auto;
  max-width: 375px;
}

.padding {
  padding: 1rem .7rem;
}

.padding-l-r {
  padding: 0rem .7rem;
}

.padding-t-b {
  padding: 1rem 0rem;
}

.margin-t-b {
  margin: 1rem 0rem;
}

.margin-b {
  margin-bottom: 5rem;
}

.margin-l-r {
  margin: 0rem 0.7rem;
}

.verticalContainer {
  flex-direction: column;
  gap: .3rem;
}

.horizontalScrollContainer {
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: .6rem;
}

button:hover {
  background-color: #00A08F;
  color: #000;
  transition: 0.7s;
  transition-timing-function: ease-out;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

.button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #00A08F;
  transition: 0.7s;
}

.button:active {
  background-color: #00A08F;
}


.btn {
  font-size: 0.875rem;
  font-weight: 700;

  height: 3rem;
  border-radius: 0.5rem;
  border: 0.5px solid rgba(0, 0, 0, 0.75);
}

.container {
  flex-direction: column;
  gap: 1rem;
  /* align-items: normal;
  justify-content: normal; */
  margin-bottom: 5rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.header {
  /* outline: auto; */
  justify-content: space-between;

  align-items: center;
  position: sticky;
  top: 0;

  background-color: white;
  z-index: 1000;

  height: 3.375rem;
  padding: 0 1rem;
}

.backIcon {
  height: 1.5rem;
  width: 1.5rem;
}

/* SUB HEADER */
.subHeaderDiv {
  height: 3rem;
  background-color: white;
  align-items: center;
  gap: .7rem;
}

.subHeaderDivHeader {
  font-size: 0.875rem;
  font-weight: 500;
}

.sign-up-btn {
  color: var(--Labels-Primary, #000);
  /* font-family: Inter; */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.homepageSearch {
  /* justify-content: space-between; */
  gap: .5rem;
  align-items: center;
  background-color: white;

  /* height: 2.5rem; */
  margin: 0 auto;
  margin-top: 1rem;
  width: 95%;
  /* max-width: 95%; */
  padding: 0 1rem;

  border-radius: 0.5rem;
  /* border: 0.5px solid rgba(0, 0, 0, 0.50); */
  background: var(--Backgrounds-Primary, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

input :active {
  color: red;
}

input:focus {
  color: green;
}


.form {
  font-size: 0.875rem;
  font-weight: 500;

  gap: 1.5rem;
  flex-direction: column;
}

.inputDivs {
  flex-direction: column;
  gap: .4rem;
}


input,
select {
  /* width: 21.875rem; */
  /* height: inherit; */
  height: 3.5rem;
  border-radius: 0.75rem;
  border: 0.5px solid rgba(0, 0, 0, 0.45);
  background: var(--Backgrounds-Primary, #FFF);
  padding: .7rem;
}

input::placeholder,
select {
  color: rgba(0, 0, 0, 0.55);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5625rem;
}

input[type="search"]:focus {
  outline: none;
}


input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

.subBtn {
  align-self: center;
  width: 21.875rem;
  height: 2.8125rem;

  border-radius: 0.75rem;
  background: #006F5F;

  color: var(--Pure-White, #FFF);
  text-align: center;

  font-size: 0.9375rem;
  font-weight: 400;
}

.searchIcon {
  width: 1rem;
  height: 1rem;
}

.homeSearchBar {
  color: rgba(0, 0, 0, 0.70);
  /* font-family: Lato; */
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  width: 100%;
  border: none;
}

.homepageBanner {
  margin-top: 1rem;
  height: 9rem;
  position: relative;

}

.footer {
  background-color: white;
  /* outline: auto; */
  position: fixed;
  /* position: -webkit-sticky; */
  left: 0;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  margin-top: .5rem;
}

.footerItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.footerHeader {
  color: var(--Labels-Primary, #000);
  /* font-family: Inter; */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.categories {
  background-color: white;
  margin-top: 1rem;
  height: fit-content;
  width: 100%;
  padding: .5rem;
  /* outline: auto; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: .5rem;
  /* align-content: center; */
  justify-items: center;
  /*repeat 3 times with same size*/

  background: var(--Backgrounds-Primary, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.sellDiv {
  width: 5.3125rem;
  height: 3.8125rem;
  border-radius: 0.375rem;
  background: #006F5F;

  color: var(--Backgrounds-Primary, #FFF);
  /* font-family: Inter; */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.categoryDiv {
  width: fit-content;
  height: fit-content;

  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.categoryImg {
  position: relative;
  width: 5.3125rem;
  height: 3.8125rem;

  border-radius: 0.375rem;
  border: 0.2px solid rgba(0, 0, 0, 0.20);
  /* background: url(<path-to-image>) lightgray 50% / cover no-repeat; */

}

.categoryPgh {
  color: var(--Labels-Primary, #000);
  /* font-family: Inter; */
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.suggestionDiv {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  /* height: 17.8125rem; */
  height: fit-content;
  background-color: white;
  padding: 0 1rem;
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* flex-shrink: 0; */
}

.suggestionHeader {
  color: var(--Labels-Primary, #000);
  /* font-family: Lato; */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01338rem;
}

.suggestionPgh {
  color: rgba(0, 0, 0, 0.75);
  /* font-family: Lato; */
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.01338rem;
}

.suggestionInnerDiv {
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;

  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;

  /* gap: 1rem; */
}

.productDiv {
  display: flex;
  flex-direction: column;
  padding: .6rem;
  justify-content: space-between;

  width: 14.1875rem;
  height: 17.0625rem;

  background-color: white;
}

.productImg {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 12.6875rem;
  height: 9.375rem;

  border-radius: 0.5rem;
  border: 0.2px solid rgba(0, 0, 0, 0.3);
}

.priceOption {
  position: absolute;
  top: .7rem;
  right: 0;

  width: 5.25rem;
  height: 1.25rem;
  border-radius: 0.375rem;
  background: var(--Backgrounds-Primary, #FFF);

  color: #006F5F;
  /* font-family: Inter; */
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  align-items: center;
  justify-content: center;
}

.priceHeader {
  color: rgba(0, 0, 0, 0.90);
  /* font-family: Inter; */
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.productInfo {
  color: rgba(0, 0, 0, 0.85);
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.productLoactionDiv {
  gap: .2rem;
}

.loactionIcon {
  width: 0.75rem;
  height: 0.75rem;
}

.iconSize1 {
  width: 0.75rem;
  height: 0.75rem;
}

.iconSize2 {
  width: 1rem;
  height: 1rem;
}

.productLoaction {
  color: #006F5F;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.usageType {
  /* width: 5.25rem; */
  width: max-content;
  padding: 0 .5rem;
  height: 1.25rem;
  border-radius: 0.375rem;
  background: #D3D3D3;
  align-items: center;
  justify-content: center;
}

.usageTypePgh {
  color: var(--Labels-Primary, #000);
  /* font-family: Inter; */
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.productContainDiv {
  display: flex;
  flex-direction: column;
  padding: .6rem;
  justify-content: space-between;

  width: 11.1875rem;
  height: 17.0625rem;

  background-color: white;

  border-radius: 0.5rem;
  background: var(--Backgrounds-Primary, #FFF);
}

.otherItems {
  margin-top: 1rem;
  padding: 0 1rem;
}

.productsContainer {
  margin-top: 1rem;
  /* padding: 0 1rem; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: .5rem;
  align-content: center;
  justify-items: center;

}

.productContainImg {
  align-items: center;
  justify-content: center;
  position: relative;
  width: 10rem;
  height: 9.375rem;

  border-radius: 0.5rem;
  border: 0.2px solid rgba(0, 0, 0, 0.3);
}

/* searchpageSearchDiv */
.searchpageSearchDiv {
  flex-direction: column;
  align-items: center;
  height: 5rem;
  background: #D9D9D9;
}


/* SEARCHITEM */
.searchItemDiv {
  padding: .3rem 0rem;
}

.searchItemPgh {
  color: var(--Labels-Primary, rgb(0, 0, 0, ));
  /* color: var(--Labels-Primary, rgba(0, 0, 0, 0.65)); */
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.01338rem;
}

/* SEARCHHISTORYITEM */
.searchHistroyItemDiv {
  width: 5rem;
  height: 1.875rem;
  border-radius: 0.5rem;
  background: var(--Backgrounds-Primary, #FFF);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.searchHistoryItemPgh {
  color: #767676;
  font-size: 0.6875rem;
  font-weight: 600;
  letter-spacing: -0.01338rem;
}

/* ITEM TO RATE */
.itemToRateDiv {
  background-color: white;
  flex-direction: column;
  gap: .7rem;

  background: var(--Backgrounds-Primary, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.itemToRateInnerDiv-0 {
  background-color: white;
  gap: .6rem;
  /* padding: 1rem 0rem; */

  background: var(--Backgrounds-Primary, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.itemToRateTitlePriceDiv {
  /* width: 70%; */
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
  /* align-items: center; */
}

.itemToRateImg {
  align-items: center;
}

.itemToRateInnerDiv {
  flex-direction: column;
  gap: .5rem;
}

.itemToRateTitle {
  font-size: 0.875rem;
  font-weight: 500;
}

.itemToRatePriceHeader {
  font-size: 0.875rem;
  font-weight: 600;
}

.itemToRateInnerDiv-1 {
  align-items: center;
  gap: 1rem;
  /* justify-content: space-between; */
}

.itemToRatePgh {
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.5rem;
  font-weight: 500;
}

.lineDiv {
  width: 100%;
  border: .05rem solid rgba(0, 0, 0, .4);
}

.straightLine {
  width: 100%;
  border: solid .01rem rgba(0, 0, 0, 0.2);
}

.itemToRateBtn {

  align-self: flex-end;
  width: 9.125rem;
  height: 2.25rem;

  border-radius: 0.25rem;
  background: #006F5F;

  color: var(--Backgrounds-Primary, #FFF);
  font-size: 0.75rem;
  font-weight: 500;
}

.ratingFormHeader {
  font-size: 0.75rem;
  font-weight: 500;
}


/* Contact */
/* Contact */
/* Contact */

.contactDiv {
  background-color: white;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.contactUserImgDiv {
  /* outline: auto; */
  width: max-content;
  border-radius: 5rem;
  overflow: hidden;
}

.contactInnerdiv {
  width: 80%;
  align-items: center;
  justify-content: space-between;
}


/* Advert */
/* Advert */
/* Advert */

.adViewDiv {
  align-items: center;
  gap: .2rem;
  color: #006F5F;
}