.formDiv {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 1rem.7rem;

}

.form {
    gap: 1.5rem;
    flex-direction: column;
}

.login-pgh {
    font-size: 1.25rem;
    font-weight: 600;

}

input {
    width: 21.875rem;
    height: 3.5rem;
    border-radius: 0.75rem;
    border: 0.5px solid rgba(0, 0, 0, 0.75);
    background: var(--Backgrounds-Primary, #FFF);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.75);
    font-size: 0.875rem;
    font-weight: 500;
    padding-left: 1rem;
}

.checkboxDiv {
    gap: 1rem;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 500;
}

.checkbox {
    width: 1.25rem;
    height: 1.25rem;
}

.subBtn {
    width: 21.875rem;
    height: 2.8125rem;

    border-radius: 0.75rem;
    background: #006F5F;

    color: var(--Pure-White, #FFF);
    text-align: center;

    font-size: 0.9375rem;
    font-weight: 400;

}

.otherSignUpDiv {
    font-size: 0.875rem;
    flex-direction: column;
    gap: 1rem;
}

.otherSignUpBtn {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 21.875rem;
    height: 3.5rem;
    border-radius: 0.75rem;
    border: 0.5px solid #000;
    background: var(--Backgrounds-Primary, #FFF);
}

.reset-password {
    color: var(--Pure-White, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.signup-link {
    margin-top: 2rem;
    color: #006F5F;
    text-align: center;
    font-size: 0.8125rem;
    font-weight: 500;
}