/* SIDE MENU */
/* SIDE MENU */
/* SIDE MENU */
/* SIDE MENU */

.sideMenuDiv {
    height: 85vh;
    flex-direction: column;
    justify-content: space-between;
}

.sideMenuHeader {
    color: white;
    background: #006F5F;

    flex-direction: column;
    justify-content: center;

    height: 3.5rem;
}

.sideMenuOptionsDiv {
    background-color: white;
    flex-direction: column;
    gap: 1.3rem;
}


.sideMenuOption {
    gap: 1rem;
}

.sideMenuOptionProfile {
    justify-content: space-between;
}

.logoutHeader {
    color: #006F5F;
    align-items: end;
}